@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="vueJS">
    <ol>
        <li v-for="item in todos">{{item}}</li>
    </ol>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/indexVue.js"></script>
}